@if (showModal) {
  <div class="background" (click)="clickOutside()" [style.background]="backgroundColor"></div>
  <div class="modal-common" [style.background]="backgroundModal" [class.custom-popup]="withHeader" @modalAnimation>
    @if (displayX && !withHeader) {
      <span class="icon" (click)="closeModal()">
        <img src="/assets/common/close.png" alt="">
      </span>
    }
    @if (templateRef) {
      <ng-template [ngTemplateOutlet]="templateRef" >
      </ng-template>
    }
  </div>
}