<!-- <h1>List my games</h1>

<ul>
    <li><a routerLink="/games/puzzle-match">Puzzle Match</a></li>
    <li><a routerLink="/games/clawmachine">ClawMachine (Godot)</a></li>
    <li><a routerLink="/games/goldminer">PlantTree (Phaser)</a></li>
    <li><a routerLink="/games/dodge-the-bombs">Dodge the bombs (Phaser)</a></li>
    <li><a routerLink="/games/puzzle-slide">Puzzle Slide (Godot 4)</a></li>
    <li><a routerLink="/games/my-farm">My Farm (Godot 3.5)</a></li>
    <li><a routerLink="/games/simple-rpg">Simple RPG (Godot 3.5)</a></li>
</ul> -->