.game-container {
    width: 100vw;
    height: 100vh;
    max-height: 100dvh;
    position: relative;
    border-color: #4d4d4d;

    iframe {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 10px);
    }
}
