<!-- <app-pixijs-demo /> -->

<!-- <app-phaser-demo /> -->

<div class="page-container">
    <!-- <div class="question-container">
        <div class="question">
            <span>Player Size </span>
            <input style="width: 50px;" type="text" [(ngModel)]="score">
            <button style="width: 50px;" (click)="onChangeScore(-1)">-</button>
            <button style="width: 50px;" (click)="onChangeScore(1)">+</button>
        </div>
    </div> -->
    <div class="game">
        <app-phaser-character [width]="600" [height]="600" />
    </div>
</div>