<div class="game-teams">
    <div class="list-team">
        <div class="team" [class.team-active]="matchInfo.currentTeam === team.id"
            *ngFor="let team of matchInfo?.teamInfo">
            <div class="team-name team-{{team.id}}">
                {{team.name}}
            </div>
            <div class="team-score">
                {{team.id === 1 ? 'X' : 'O'}}
            </div>
        </div>
    </div>
    <div class="game-config">
        <div class="btn-config" (click)="exitMatch()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="btn-config" (click)="editTeam()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="btn-config" (click)="soundConfig()">
            <i *ngIf="isSoundOn" class="fa fa-volume-up" aria-hidden="true"></i>
            <i *ngIf="!isSoundOn" class="fa fa-volume-off" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="game-cards">
    <div class="card-wrapper">
        <div class="card-row"
            [class.card-leftIn]="index === 0 || (index === (matchInfo.listCard?.length - 1) && index > 1)"
            *ngFor="let row of matchInfo.listCard; index as index">
            <div class="cardx" [class.has-flip-card]="col.hasFlip" (click)="selectCard(col)" *ngFor="let col of row">
                <div class="card-bg">
                    <div *ngIf="!col.hasFlip" class="card-number">{{col.id}}</div>
                    <div *ngIf="col.hasFlip" class="card-number">{{col.teamAnswer === 1 ? 'X' : 'O' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn-replay2" [class.btn-replay2-show]="showReplayBtn" (click)="replayMatch()">
    <i class="fa fa-refresh" aria-hidden="true"></i>
</div>


<app-modal-common [clickOutsideClose]="selectedCard?.hasFlip" [displayX]="false" [id]="idOpenCard">
    <ng-template>
        <div class="card-open">
            <div class="card-open-top">
                <div class="card-open-top-team">
                    Team {{matchInfo.currentTeam}}
                </div>
                <div class="card-open-point">
                    &nbsp;
                </div>
                <div *ngIf="selectedCard?.hasFlip" class="card-open-x" (click)="closeOpenCard('idOpenCard')">
                    X
                </div>
            </div>
            <div class="card-open-content">
                <div class="card-open-question">
                    <app-questions (userAnswer)="userAnswer($event)"
                        [question]="selectedCard?.question?.dataStandard"></app-questions>
                    <div class="card-open-question-answer" *ngIf="selectedCard?.answered || selectedCard.hasFlip">
                        <div class="card-open-question-title">
                            <span class="text-green" *ngIf="selectedCard?.doRight">Chính xác!</span>
                            <span class="text-red" *ngIf="!selectedCard?.doRight">Không chính xác</span>
                        </div>
                        <div *ngIf="selectedCard.hasFlip" class="card-open-explain"
                            [mathJax]="selectedCard?.question?.dataStandard?.explain"></div>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <div class="card-open-answer" *ngIf="!selectedCard.answered && !selectedCard.hasFlip">
                    <div class="btn-answer" (click)="submitAnswer()">
                        Trả lời
                    </div>
                </div>
                <div class="card-open-answer"
                    *ngIf="selectedCard.answered && (selectedCard.hasFlip || !selectedCard.hasFlip)">
                    <div class="btn-answer btn-team-answer" (click)="closeOpenCard('idOpenCard')">
                        Đóng
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal-common>

<app-modal-common [clickOutsideClose]="false" [displayX]="false" [id]="idWinCard">
    <ng-template>
        <div class="bravo-effect">
            <div class="before"></div>
            <div class="after"></div>
        </div>
        <div class="card-open">
            <div class="card-open-top">
                <div class="card-open-point">
                    &nbsp;
                </div>
                <div class="card-open-x" (click)="closeOpenCard('idWinCard')">
                    X
                </div>
            </div>
            <div class="card-open-content">
                <div class="card-open-question">
                    <div class="card-open-img">
                        <img src="https://media.baamboozle.com/bbzl-prod-eu-west-5/img/power-ups/shark.png" alt="">
                    </div>
                    <div class="card-open-tier" *ngIf="!winnerTeam?.id">
                        Huề cả làng !!!
                    </div>
                    <div class="card-open-tier typewriter" *ngIf="winnerTeam?.id">
                        <div class="typewriter-text">Đội {{winnerTeam?.id}} chiến thắng !!!</div>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <div class="card-open-answer">
                    <div class="btn-answer btn-team-replay" (click)="replayMatch()">
                        Làm lại
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal-common>

<app-modal-common [clickOutsideClose]="false" [displayX]="false" [id]="idEditTeam">
    <ng-template>
        <div class="card-open card-edit-team">
            <div class="card-open-top">
                <div class="card-open-point">
                    Chỉnh sửa
                </div>
                <div class="card-open-x" (click)="closeOpenCard('idEditTeam')">
                    X
                </div>
            </div>
            <div class="card-open-content">
                <div class="card-open-box card-box-title">
                    <div class="box-title">
                        Tên
                    </div>
                    <div class="box-title box-title-score">
                        Điểm
                    </div>
                </div>
                <div class="card-open-box">
                    <div class="card-box-item" *ngFor="let team of matchInfo?.teamInfo">
                        <input class="box-item" type="text" [(ngModel)]="team.name">
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <div class="card-open-answer">
                    <div class="btn-answer btn-team-replay" (click)="saveEditTeam()">
                        Lưu
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal-common>