@if (question.content) {
  <div [class.disabled-ques]="question?.showAnswer"
    class="template-default template-{{question.template}}">
    @if (question.typeView === 0) {
      <app-dynamic-html [answer]="answerOption" [questionId]="question.stepId"
      [content]="question.content" (userResponse)="userAction($event)"></app-dynamic-html>
    }
    @if (question.typeView === 1) {
      <app-dragdrop-dynamic-html [content]="question.content"
      (userResponse)="userAction($event)" [answer]="answerOption"></app-dragdrop-dynamic-html>
    }
    @if (question.typeView === 2) {
      <app-drawline-dynamic-html [answer]="answerOption" [content]="question.content"
      (userResponse)="userAction($event)"></app-drawline-dynamic-html>
    }
    @if (question.typeView === 3) {
      <app-dynamic-colorpicker-html [content]="question.content"
      (userResponse)="userAction($event)" [question]="question"></app-dynamic-colorpicker-html>
    }
    @if (question.typeView === 4) {
      <app-dragdrop-multiple-dynamic-html [answer]="answerOption"
        [content]="question.content" (userResponse)="userAction($event)">
      </app-dragdrop-multiple-dynamic-html>
    }
    @if (question.typeView === 5) {
      <app-dynamic-check-boolean-html [content]="question.content"
        (userResponse)="userAction($event)" [question]="question">
      </app-dynamic-check-boolean-html>
    }
    @if (question.typeView === 6) {
      <app-dynamic-check-multiplechoices-html [content]="question.content"
        (userResponse)="userAction($event)" [userAnswer]="question">
      </app-dynamic-check-multiplechoices-html>
    }
    @if (question.typeView === 7) {
      <app-dynamic-html-circle-character (userResponse)="userAction($event)"
        [content]="question.content" [question]="question">
      </app-dynamic-html-circle-character>
    }
    @if (question.typeView === 8) {
      <app-dragdrop-greensock-dynamic-html (userResponse)="userAction($event)"
        [question]="question" [content]="question.content">
      </app-dragdrop-greensock-dynamic-html>
    }
    @if (question.typeView === 9) {
      <app-dragdrop-sort-greensock-dynamic-html (userResponse)="userAction($event)"
        [question]="question" [content]="question.content">
      </app-dragdrop-sort-greensock-dynamic-html>
    }
    @if (question.typeView === 10) {
      <app-drawline2-dynamic-html [questionId]="question.stepId"
        [content]="question.content" (userResponse)="userAction($event)">
      </app-drawline2-dynamic-html>
    }
    @if (question.typeView === 24) {
      @if (question.template === 65) {
        <app-dynamic-html-click-order [questionId]="question.stepId"
          [content]="question.content" [answer]="answerOption"
        (userResponse)="userAction($event)"></app-dynamic-html-click-order>
      }
      @if (question.template === 66) {
        <app-dynamic-html-click-order-cells [questionId]="question.stepId"
          [content]="question.content" [answer]="answerOption"
        (userResponse)="userAction($event)"></app-dynamic-html-click-order-cells>
      }
      @if (question.template === 67) {
        <app-dynamic-html-select-dropdown-abc [questionId]="question.stepId"
          [content]="question.content" [answer]="question?.userOptionText"
        (userResponse)="userAction($event)"></app-dynamic-html-select-dropdown-abc>
      }
      @if (question.template === 69) {
        <app-dynamic-html-input-by-keypad [questionId]="question.stepId"
          [content]="question.content" [answer]="answerOption"
        (userResponse)="userAction($event)"></app-dynamic-html-input-by-keypad>
      }
      @if (question.template === 70) {
        <app-dynamic-picture-pick-answer [content]="question.content"
        [answer]="answerOption" (userResponse)="userAction($event)"></app-dynamic-picture-pick-answer>
      }
      @if (question.template === 71) {
        <app-dynamic-picture-dragdrop-answer [content]="question.content"
        [answer]="answerOption" (userResponse)="userAction($event)"></app-dynamic-picture-dragdrop-answer>
      }
      @if (question.template === 72) {
        <app-dynamic-html-text-by-keypad [questionId]="question.stepId"
          [content]="question.content" [answer]="answerOption"
        (userResponse)="userAction($event)"></app-dynamic-html-text-by-keypad>
      }
    }
  </div>
}