<h1>List my games</h1>

<ul>
    <!-- <li><a routerLink="/games/goldminer">PlantTree (Phaser)</a></li> -->
    <!-- <li><a routerLink="/games/dodge-the-bombs">Dodge the bombs (Phaser)</a></li> -->
    <!-- <li><a routerLink="/games/puzzle-slide">Puzzle Slide (Godot 4)</a></li> -->
    <!-- <li><a routerLink="/games/my-farm">My Farm (Godot 3.5)</a></li> -->
    <!-- <li><a routerLink="/games/simple-rpg">Simple RPG (Godot 3.5)</a></li> -->

    <li><a routerLink="/games/mathplay">Mathplay (Godot 4.3)</a></li>
</ul>

<button (click)="createPasswordZip()">Create Password-Protected ZIP</button>

<!-- <button (click)="createPasswordProtectedZip()">Create Password-Protected ZIP</button> -->

<!-- <button (click)="createZip()">Create ZIP</button> -->

<!-- <button (click)="createZipWithPassword()">Download Encrypted ZIP</button> -->
