.full-layout {
    width: 100vw;
    height: 100vh;
    max-height: 100dvh;
    display: flex;

    .sidebar {
        width: 300px;
        height: 100%;
    }

    .main {
        width: calc(100vw - 300px);
    }
}
